<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <p>About Us</p>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <% include ./partials/baseScripts.ejs %>
 </body>
</html>
